{#
/**
 * @file
 * Template for a node.
 */
#}

{% set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]|merge(classes|default([])) %}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if not page %}
      <h2 class="node__title"><a href="{{ url }}">{{ label }}</a></h2>
    {% endif %}
    {{ content }}
  {% endblock %}
</article>
